:root {
  --color-divider: #{$color-divider};
  --color-button-input: #{$color-button-input};

  --color-primary-lighter: #{$color-primary-lighter};
  --color-primary-light: #{$color-primary-light};
  --color-primary-main: #{$color-primary-main};
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-darker: #{$color-primary-darker};

  --color-info-lighter: #{$color-info-lighter};
  --color-info-light: #{$color-info-light};
  --color-info-main: #{$color-info-main};
  --color-info-dark: #{$color-info-dark};
  --color-info-darker: #{$color-info-darker};

  --color-success-lighter: #{$color-success-lighter};
  --color-success-light: #{$color-success-light};
  --color-success-main: #{$color-success-main};
  --color-success-dark: #{$color-success-dark};
  --color-success-darker: #{$color-success-darker};

  --color-warning-lighter: #{$color-warning-lighter};
  --color-warning-light: #{$color-warning-light};
  --color-warning-main: #{$color-warning-main};
  --color-warning-dark: #{$color-warning-dark};
  --color-warning-darker: #{$color-warning-darker};

  --color-error-lighter: #{$color-error-lighter};
  --color-error-light: #{$color-error-light};
  --color-error-main: #{$color-error-main};
  --color-error-dark: #{$color-error-dark};
  --color-error-darker: #{$color-error-darker};

  --color-grey-100: #{$color-grey-100};
  --color-grey-200: #{$color-grey-200};
  --color-grey-300: #{$color-grey-300};
  --color-grey-400: #{$color-grey-400};
  --color-grey-500: #{$color-grey-500};
  --color-grey-600: #{$color-grey-600};
  --color-grey-700: #{$color-grey-700};
  --color-grey-800: #{$color-grey-800};
  --color-grey-900: #{$color-grey-900};

  --color-common-white: #{$color-common-white};
  --color-common-black: #{$color-common-black};

  --color-transparent-primary-8: #{$color-transparent-primary-8};
  --color-transparent-primary-12: #{$color-transparent-primary-12};
  --color-transparent-primary-16: #{$color-transparent-primary-16};
  --color-transparent-primary-24: #{$color-transparent-primary-24};
  --color-transparent-primary-32: #{$color-transparent-primary-32};
  --color-transparent-primary-48: #{$color-transparent-primary-48};

  --color-transparent-info-8: #{$color-transparent-info-8};
  --color-transparent-info-12: #{$color-transparent-info-12};
  --color-transparent-info-16: #{$color-transparent-info-16};
  --color-transparent-info-24: #{$color-transparent-info-24};
  --color-transparent-info-32: #{$color-transparent-info-32};
  --color-transparent-info-48: #{$color-transparent-info-48};

  --color-transparent-success-8: #{$color-transparent-success-8};
  --color-transparent-success-12: #{$color-transparent-success-12};
  --color-transparent-success-16: #{$color-transparent-success-16};
  --color-transparent-success-24: #{$color-transparent-success-24};
  --color-transparent-success-32: #{$color-transparent-success-32};
  --color-transparent-success-48: #{$color-transparent-success-48};

  --color-transparent-warning-8: #{$color-transparent-warning-8};
  --color-transparent-warning-12: #{$color-transparent-warning-12};
  --color-transparent-warning-16: #{$color-transparent-warning-16};
  --color-transparent-warning-24: #{$color-transparent-warning-24};
  --color-transparent-warning-32: #{$color-transparent-warning-32};
  --color-transparent-warning-48: #{$color-transparent-warning-48};

  --color-transparent-error-8: #{$color-transparent-error-8};
  --color-transparent-error-12: #{$color-transparent-error-12};
  --color-transparent-error-16: #{$color-transparent-error-16};
  --color-transparent-error-24: #{$color-transparent-error-24};
  --color-transparent-error-32: #{$color-transparent-error-32};
  --color-transparent-error-48: #{$color-transparent-error-48};

  --color-transparent-grey-8: #{$color-transparent-grey-8};
  --color-transparent-grey-12: #{$color-transparent-grey-12};
  --color-transparent-grey-16: #{$color-transparent-grey-16};
  --color-transparent-grey-24: #{$color-transparent-grey-24};
  --color-transparent-grey-32: #{$color-transparent-grey-32};
  --color-transparent-grey-48: #{$color-transparent-grey-48};
  --color-transparent-white-48: #{$color-transparent-white-48};
  --color-transparent-black-48: #{$color-transparent-black-48};

  --color-transparent-subjects-matematica-16: #{$color-transparent-subjects-matematica-16};
  --color-transparent-subjects-matematica-80: #{$color-transparent-subjects-matematica-80};
  --color-transparent-subjects-natureza-16: #{$color-transparent-subjects-natureza-16};
  --color-transparent-subjects-natureza-80: #{$color-transparent-subjects-natureza-80};
  --color-transparent-subjects-humanas-16: #{$color-transparent-subjects-humanas-16};
  --color-transparent-subjects-humanas-80: #{$color-transparent-subjects-humanas-80};
  --color-transparent-subjects-linguagens-16: #{$color-transparent-subjects-linguagens-16};
  --color-transparent-subjects-linguagens-80: #{$color-transparent-subjects-linguagens-80};
  --color-transparent-subjects-redacao-16: #{$color-transparent-subjects-redacao-16};
  --color-transparent-subjects-redacao-80: #{$color-transparent-subjects-redacao-80};
  --color-transparent-subjects-medicina-16: #{$color-transparent-subjects-medicina-16};
  --color-transparent-subjects-medicina-80: #{$color-transparent-subjects-medicina-80};

  --color-text-color-text-primary: #{$color-text-color-text-primary};
  --color-text-color-text-secondary: #{$color-text-color-text-secondary};
  --color-text-color-text-disabled: #{$color-text-color-text-disabled};

  --color-background-default: #{$color-background-default};
  --color-background-neutral: #{$color-background-neutral};
  --color-background-overlay-dark: #{$color-background-overlay-dark};

  --color-action-states-active: #{$color-action-states-active};
  --color-action-states-hover: #{$color-action-states-hover};
  --color-action-states-selected: #{$color-action-states-selected};
  --color-action-states-disabled: #{$color-action-states-disabled};
  --color-action-states-disabled-background: #{$color-action-states-disabled-background};
  --color-action-states-focus: #{$color-action-states-focus};

  --color-subjects-matematica-main: #{$color-subjects-matematica-main};
  --color-subjects-matematica-dark: #{$color-subjects-matematica-dark};

  --color-subjects-natureza-main: #{$color-subjects-natureza-main};
  --color-subjects-natureza-dark: #{$color-subjects-natureza-dark};

  --color-subjects-humanas-main: #{$color-subjects-humanas-main};
  --color-subjects-humanas-dark: #{$color-subjects-humanas-dark};

  --color-subjects-linguagens-main: #{$color-subjects-linguagens-main};
  --color-subjects-linguagens-dark: #{$color-subjects-linguagens-dark};

  --color-subjects-redacao-main: #{$color-subjects-redacao-main};
  --color-subjects-redacao-dark: #{$color-subjects-redacao-dark};

  --color-subjects-medicina-main: #{$color-subjects-medicina-main};
  --color-subjects-medicina-dark: #{$color-subjects-medicina-dark};
}
