.circle-progress {
  $size: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;

    &-position {
      & span {
        font-size: 16px;
        font-weight: 700;
        font-family: $font-family-accent;
      }
    }

    &__svg {
      position: absolute;

      &-inner-circle,
      &-outer-circle {
        stroke-width: 5;
        stroke-linecap: round;
        fill: none;
        stroke: $color-action-disabled-background;
        transition: stroke-dashoffset ease 1s;
      }

      &-outer-circle {
        transform-origin: center;
        transform: rotateZ(270deg);
      }
    }

    &-number {
      font-family: $font-family-accent;
      font-weight: 700;
    }
  }
}
