.skeleton {
  display: block;
  min-height: 8px;
  min-width: 8px;
  background-color: $color-neutral-300;
  border-radius: $border-radius-sm;
  min-height: $border-radius-lg;
  animation: animation-skeleton 1.5s linear infinite;

  &-container {
    visibility: hidden;
  }

  &--is-circle {
    min-height: 16px;
    min-width: 16px;
    border-radius: 50%;
  }

  &--is-paragraph {
    border-radius: $border-radius-xs;
    min-height: 6px;

    + .skeleton--is-paragraph {
      margin-top: $spacing-sm;
    }
  }
}

.skeleton-animation {
  animation: animation-skeleton 1.5s linear infinite;
}

@keyframes animation-skeleton {
  0% {
    opacity: 0.4;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
