p,
.text-base {
  $factor: 3.25vw;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 0.875em; // 14px
  font-size: clamp(0.875em, $factor, 1rem);
  @media (min-width: $breakpoint-lg) {
    font-size: 1rem; // 16px
  }
  &--size {
    &-sm {
      font-size: 0.75em; // 12px
      font-size: clamp(0.75em, $factor, 0.875rem);
      @media (min-width: $breakpoint-lg) {
        font-size: 0.875em; // 14px
      }
    }
  }
  + p,
  + .text-base {
    margin-top: 1em;
  }
}
