.label {
  padding: 1px $spacing-sm;
  border-radius: $border-radius-xs;
  font-size: 0.75rem;
  line-height: 1.7em;
  font-weight: 700;
  display: inline-block;

  &--ghost {
    &-default {
      background: $color-neutral-ghost;
      color: $color-text-secondary;
    }

    &-primary {
      background: $color-primary-ghost;
      color: $color-primary-700;
    }

    &-info {
      background: $color-info-ghost;
      color: $color-info-700;
    }

    &-success {
      background: $color-success-ghost;
      color: $color-success-700;
    }

    &-warning {
      background: $color-warning-ghost;
      color: $color-warning-700;
    }

    &-error {
      background: $color-error-ghost;
      color: $color-error-700;
    }
  }

  &--solid {
    &-default {
      background: $color-neutral-300;
      color: $color-text-primary;
    }

    &-primary {
      background: $color-primary-500;
      color: $color-white;
    }

    &-info {
      background: $color-info-500;
      color: $color-white;
    }

    &-success {
      background: $color-success-500;
      color: $color-text-primary;
    }

    &-warning {
      background: $color-warning-500;
      color: $color-text-primary;
    }

    &-error {
      background: $color-error-500;
      color: $color-white;
    }
  }
}
