.btn {
  appearance: none;
  font-family: $font-family-main;
  font-weight: 700;
  
  cursor: pointer;
  display: inline-flex;
  border: 1px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: $border-radius-sm;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  padding: 11px 22px;

  &--disabled,
  &:disabled {
    cursor: inherit;
    pointer-events: none;
  }

  &_primary {
    background-color: $color-primary-main;
    color: $color-background-default;
    &:active {
      background-color: $color-primary-dark;
    }
    &:disabled {
      background-color: $color-action-states-disabled-background;
      color: $color-action-states-disabled;
    }
  }

  &_secondary {
    background-color: $color-background-default;
    color: $color-primary-main;
    border-color: $color-primary-main;
    &:active {
      background-color: $color-primary-lighter;
    }
    &:disabled {
      color: $color-action-states-disabled;
      border-color: $color-action-states-disabled-background;
    }
  }

  &_neutral,
  &_text {
    color: $color-text-color-text-primary;
    &:active {
      background-color: $color-transparent-grey-12;
    }
    &:disabled {
      color: $color-action-states-disabled;
    }
  }
  &_neutral {
    background-color: $color-background-default;
    border-color: $color-action-states-disabled-background;
  }

  &_small {
    font-size: 14px;
    padding: 6px 16px;
  }
}
