.toggle-dropdown {
  position: relative;
  --x: 0px;
  --y: 8px;
  &--is-above {
    --y: calc(-100% - 40px - 8px);
  }
  &--is-right {
    --x: calc(-100% + 40px);
  }
  &__list {
    position: absolute;
    z-index: 101;
    min-width: 200px;
    transform: translate(var(--x), var(--y));
  }
  &:not(.toggle-dropdown--is-open) {
    .toggle-dropdown {
      &__list {
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}
