.navigation-bar {
  &--show{
    transform: translateY(100%);
    animation: show-up-navbar-animation 250ms 250ms ease-in-out 1 forwards;
  }

  &:not(&--show){
    transform: translateY(100%);
    animation: show-down-navbar-animation 250ms 250ms ease-in-out 1 backwards;
  }

  background-color: $color-background-primary;
  padding: $spacing-xs;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@keyframes show-up-navbar-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes show-down-navbar-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
