a.btn,
.link.btn,
.btn {
  $ripple25: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMjUpIiBkPSJNMTIsMkExMCwxMCAwIDAsMCAyLDEyQTEwLDEwIDAgMCwwIDEyLDIyQTEwLDEwIDAgMCwwIDIyLDEyQTEwLDEwIDAgMCwwIDEyLDJaIi8+PC9zdmc+");
  $ripple50: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0icmdiYSgyNTUsIDI1NSwgMjU1LCAwLjUpIiBkPSJNMTIsMkExMCwxMCAwIDAsMCAyLDEyQTEwLDEwIDAgMCwwIDEyLDIyQTEwLDEwIDAgMCwwIDIyLDEyQTEwLDEwIDAgMCwwIDEyLDJaIiAvPjwvc3ZnPg==");

  appearance: none;
  font-family: $font-family-main;
  font-weight: 700;

  cursor: pointer;
  display: inline-flex;
  border: 1px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: $border-radius-sm;
  font-size: $font-size-cta;
  line-height: 1.6em;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  min-height: 48px;
  transition: background-color ease 0.2s;
  gap: $spacing-sm;

  &:hover {
    text-decoration: none;
  }
  &--is-disabled,
  &:disabled {
    cursor: inherit;
    pointer-events: none;
  }
  &--is-rtl {
    direction: rtl;
  }
  &--is-rounded {
    border-radius: 999px;
  }
  &--primary {
    background-color: $color-primary-500;
    color: $color-white;

    &:visited {
      background-color: $color-primary-500;
      color: $color-white;
    }
    &:hover {
      background-color: $color-primary-700;
    }
    &:disabled {
      background-color: $color-action-disabled-background;
      color: $color-action-disabled;
    }
  }

  &--secondary {
    color: $color-primary-500;
    border-color: $color-primary-500;

    &:visited {
      background-color: $color-primary-ghost;
      color: $color-primary-500;
    }

    &:hover {
      background-color: $color-primary-ghost;
    }
    &:disabled {
      color: $color-action-disabled;
      border-color: $color-action-disabled-background;
    }
  }

  &--naked,
  &--neutral {
    color: $color-text-primary;
    border-color: $color-neutral-500;
    &:visited {
      background-color: $color-neutral-ghost;
      color: $color-text-primary;
    }
    &:hover {
      background-color: $color-neutral-ghost;
    }
    &:disabled {
      color: $color-action-disabled;
      border-color: $color-action-disabled-background;
    }
  }
  &--naked {
    border-color: transparent;
  }

  &--text {
    --button-text-color-background: var(--color-background-primary);
    color: $color-black;
    background-color: var(--button-text-color-background);
    &:visited {
      color: $color-black;
    }
    &:hover {
      background-color: $color-neutral-300;
    }
    &:disabled {
      background-color: $color-action-disabled-background;
      color: $color-action-disabled;
    }
  }

  &--size-sm {
    font-size: $font-size-xxs;
    padding: 0 $spacing-lg;
    min-height: 36px;
  }

  &--is-pressed {
    background-image: $ripple50;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 0;
    animation: ripple 0.3s ease;
  }

  &--primary {
    &.btn {
      &--is-pressed {
        background-image: $ripple25;
      }
    }
  }

  &--custom {
    color: var(--button-color);
    background-color: var(--button-background);
    border: var(--button-border-width) solid var(--button-border-color);
    &:visited {
      color: var(--button-color);
      background-color: var(--button-background);
    }
    &:hover {
      color: var(--button-hover-color);
      background-color: var(--button-hover-background);
      border: var(--button-border-width) solid var(--button-hover-border-color);
    }
    &:disabled {
      background-color: $color-action-disabled-background;
      color: $color-action-disabled;
    }
  }
}

@keyframes ripple {
  to {
    background-size: 130%;
  }
}

.theme-dark {
  .btn {
    &--text {
      --button-text-color-background: var(--color-neutral-700);
    }
  }
}
