.checkbox {
  &__container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  &__input {
    cursor: pointer;
  }
  &__label {
    display: inline-block;
    margin: 0 11px 0 0;
  }
}
