.checkbox {
  $size: 40px;
  padding-left: $spacing-sm;
  &__container {
    display: inline-flex;
    position: relative;
    align-items: center;
    user-select: none;
    height: $size;
  }
  &__input {
    position: absolute;
    left: calc($spacing-sm * -1);
    width: calc(100% + $spacing-lg);
    display: flex;
    height: 100%;
    cursor: pointer;
    appearance: none;
  }
  &__label {
    display: inline-block;
    margin: 0 0 0 $spacing-sm;
  }
  &__icon {
    color: $color-text-primary;
    &:before {
      content: "";
      display: block;
      width: $size;
      height: $size;
      position: absolute;
      left: calc($spacing-sm * -1);
      top: 0;
      background-color: $color-neutral-ghost;
      border-radius: 50%;
      transition: transform ease 0.2s;
      transform: scale(0);
    }
  }
  &--is-checked {
    .checkbox {
      &__icon {
        color: $color-info-500;
        &:before {
          background-color: $color-info-ghost;
        }
      }
    }
  }
  &:not(.checkbox--is-disabled):hover {
    .checkbox__icon:before {
      transform: scale(1);
    }
  }
  &--is-disabled {
    .checkbox {
      &__input {
        cursor: inherit;
      }
      &__icon {
        color: $color-text-disabled;
      }
      &__label {
        color: $color-text-disabled;
      }
    }
  }
}
