.sidebar {
  --color-link-sidebar: var(--color-neutral-900);
  background-color: $color-background-secondary;
  max-width: 338px;
  border-right: 1px solid $color-divider;
  min-height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-xl $spacing-lg;
  }

  &__profile-container {
    display: flex;
    align-items: center;
    background-color: $color-neutral-ghost;

    margin: 0 $spacing-lg;
    padding: $spacing-lg;

    &__avatar {
      margin-right: $spacing-lg;
    }

    &__info {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &__profile-link.link {
      color: var(--color-link-sidebar);
    }
  }

  &__list-title {
    text-transform: uppercase;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-lg;
    padding-left: $spacing-lg;

    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 0.875em;
  }
}

.sidebar-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 52px;
  cursor: pointer;

  padding: 14px 0;
  padding-left: $spacing-lg;

  gap: $spacing-lg;

  color: var(--color-link-sidebar);
  text-decoration-color: var(--color-link-sidebar);
  font-size: 1em;
  font-weight: 400;

  .icon {
    pointer-events: none;
    color: $color-neutral-700;
  }

  &:visited {
    color: var(--color-link-sidebar);
  }
  &:not(.sidebar-item--is-active):hover {
    background-color: $color-neutral-ghost;
  }

  &--is-active {
    position: relative;

    background-color: $color-primary-ghost;
    color: $color-primary-500;
    text-decoration-color: $color-primary-500;
    font-weight: 500;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 3px;
      height: 52px;
      background-color: $color-primary-500;
      border-top-left-radius: $border-radius-xs;
      border-bottom-left-radius: $border-radius-xs;
    }

    .icon {
      color: $color-primary-500;
    }
  }
}

.theme-dark {
  .sidebar {
    --color-link-sidebar: var(--color-neutral-700);
  }
}
