@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-top: 1rem;
}

body {
  font-family: $font-family-main;
  font-weight: $font-weights-main-regular;
  font-size: 16px;
  line-height: 1rem;
  color: $color-text-primary;
}
