.card {
  background-color: $color-background-primary;
  padding: 24px;
  border-radius: $border-radius-lg;
  &--elevation {
    &-low {
      box-shadow: $shadow-elevation-100;
    }
    &-medium {
      box-shadow: $shadow-elevation-300;
    }
    &-high {
      box-shadow: $shadow-elevation-500;
    }
  }
}
