.accordion {
  overflow-y: hidden;
  color: $color-text-primary;
  &__header {
    appearance: none;
    color: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__icon-toggle {
        transition: transform ease 0.3s;
      }
    }
  }
  &__content {
    transition: height ease 0.3s;
  }


  &--is-open {
    .accordion {
      &__header-container {
        &__icon-toggle {
          transform: rotate(180deg);
        }
      }
    }
  }
}
