@import "../../styles/tokens/colors.scss";

.logo {
  &__full {
    &--primary {
      color: $color-primary-main;
    }

    &--neutral {
      color: $color-common-white;
    }
  }

  &__short {
    &--primary {
      color: $color-primary-main;
    }

    &--neutral {
      color: $color-common-white;
    }
  }
}
