.notification {
  display: flex;
  align-items: center;
  padding: 0 0 0 $spacing-lg;
  border-radius: $border-radius-sm;
  width: fit-content;
  max-width: 320px;
  animation: animation-open 0.3s ease-out forwards;
  &__close-button {
    margin: $spacing-xs;
  }
  &__content {
    padding: $spacing-md 0 $spacing-md $spacing-md;
  }
  &-is--closing {
    animation: animation-closing 0.3s ease-out forwards;
  }

  @keyframes animation-closing {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(120%);
    }
  }
  @keyframes animation-open {
    from {
      opacity: 0;
      transform: translateX(120%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.notification-list {
  position: fixed;
  padding: $spacing-lg;
  top: 0;
  right: 0;
  z-index: $elevation-notification;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: $spacing-lg;
}
