.notification {
  display: flex;
  align-items: center;
  padding: $spacing-lg;
  padding-right: 64px;
  border-radius: $border-radius-sm;
  width: fit-content;
  animation: animation-open 0.3s ease-out forwards;

  &__icon {
    margin-right: $spacing-md;
  }

  &__content {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__close-button {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  &-is--closing {
    animation: animation-closing 0.3s ease-out forwards;
  }

  @keyframes animation-closing {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateX(120%);
    }
  }
  @keyframes animation-open {
    from {
      opacity: 0;
      transform: translateX(120%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.notification-list {
  position: fixed;
  padding: $spacing-lg;
  top: 0;
  right: 0;
  z-index: $elevation-notification;
  display: flex;
  flex-direction: column-reverse;
  gap: $spacing-lg;
}
