$shadow-low: 0px 8px 16px $color-transparent-grey-24;

$shadow-medium: 0px 16px 32px -4px $color-transparent-grey-24,
  0px 0px 2px 0px $color-transparent-grey-24;

$shadow-high: 0px 0px 2px $color-transparent-grey-24, 0px 12px 24px $color-transparent-grey-24;
