.card {
  background-color: $color-background-default;
  padding: $spacing-xl;
  border-radius: $border-radius-lg;
  &--elevation {
    &-low {
      box-shadow: $shadow-low;
    }
    &-medium {
      box-shadow: $shadow-medium;
    }
    &-high {
      box-shadow: $shadow-high;
    }
  }
}
