.navigation-bar-item{
  display: flex;
  flex-direction: column;
  min-width: 0;
  text-align: center;
  padding: 0;
  flex-basis: 100%;

  &__icon{
    padding: $spacing-xs;
  }

  & .toggle-btn{
    width: 100%;
    flex-direction: column;
    & .btn__content{
      font-weight: normal;
      font-size: clamp(0.75em, 3.25vw, 0.875rem);
    }
  }

  & .toggle-dropdown{
    & .btn{
      margin-top: 2px;
      padding: $spacing-sm $spacing-sm;
    }
    & > .btn:hover{
      background-color: transparent;
    }
  }
}
