.navigation-bar-item{
  display: flex;
  flex-direction: column;
  min-width: 0;
  text-align: center;
  flex: 1;

  &__icon{
    padding: $spacing-xs;
  }

  & .toggle-btn{
    flex-direction: column;
    & .btn__content{
      font-weight: normal;
    }
  }
}
