.heading {
  font-family: $font-family-main;
  font-size: 2rem;
  line-height: 1.5em;
  &_medium {
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 800;
  }
  &_large {
    font-size: 3rem;
    line-height: 1.3em;
    font-weight: 600;
  }
  &_extra-large {
    font-size: 4rem;
    line-height: 1.25em;
    font-weight: 600;
  }
}
