.console-list-item {
  display: flex;
  width: 100%;
  min-height: 72px;
  color: $color-text-primary !important;
  background-color: $color-background-primary;
  transition: background-color ease 0.2s;

  &:hover {
    text-decoration: none;
  }

  &--is-active,
  &--is-answered-and-active {
    .console-list-item__content {
      & :first-child {
        font-weight: 500;
      }
    }
  }

  &:hover {
    background-color: $color-background-neutral;
  }

  &:active,
  &--is-active,
  &--is-answered-and-active {
    cursor: pointer;
    background-color: $color-background-neutral;

    .console-list-item__icon-container {
      border-color: $color-white;
    }
  }

  &__indicators{
    display: flex;
    flex-direction: column;
  }

  &__icon-container {
    display: flex;
    margin: 0 $spacing-lg;
    color: $color-white;
    background-color: $color-neutral-700;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all ease 0.2s;

    .icon {
      margin: 4px !important;

      .console-list-item__icon-container::before,
      .console-list-item__icon-container::after {
        height: 24px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-top: 14px;
    margin-bottom: 14px;
    &__control{
      display: flex;
    }
  }

  &__subtitle {
    color: $color-neutral-700;
  }

  &--is-connector-disabled {
    .console-list-item__icon-container {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--is-connector-disabled,
  &--is-answered {
    cursor: default;
  }

  &--is-answered,
  &--is-answered-and-active {
    .console-list-item__icon-container {
      color: $color-white;
      background-color: $color-success-700;
      border-color: transparent;
    }
  }

  &--is-first-item {
    .console-list-item__icon-container {
      &::before {
        display: none;
      }
    }
  }

  &--is-last-item {
    .console-list-item__icon-container {
      &::after {
        display: none;
      }
    }
  }
}

.theme-dark {
  .console-list-item {
    color: $color-text-primary !important;
    background-color: $color-background-secondary;

    &:hover,
    &:active,
    &--is-active,
    &--is-answered-and-active {
      background-color: $color-background-primary;
    }

    &__icon-container {
      color: $color-white;
      background-color: $color-neutral-100;
      border-color: transparent;
    }

    &--is-active {
      .console-list-item__icon-container {
        border-color: $color-white;
      }
    }

    &__subtitle {
      color: $color-text-secondary;
    }

    &--is-answered,
    &--is-answered-and-active {
      .console-list-item__icon-container {
        color: $color-white;
        background-color: $color-success-300;
        border-color: transparent;
      }
    }
  }
}

.console-list-item-line{
  flex-grow: 1;
  display: flex;
  justify-content: center;

  &--top{
    margin-bottom: $spacing-sm;
  }
  &--bottom{
    margin-top: $spacing-sm;
  }

  &__inner{
    background-color: $color-divider;
    min-height: 14px;
    margin-right: 1px;
    height: 100%;
    width: 1px;
  }

  &--is-first-item &__inner{
      &--top{
        background-color: transparent;
      }
  }

  &--is-last-item &__inner{
      &--bottom{
        background-color: transparent;
      }
  }

  &--is-connector-disabled &__inner{
    background-color: transparent;
  }
}
