.console-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 72px;
  color: var(--dark-color-text-primary) !important;
  background-color: var(--dark-color-background-primary);
  transition: background-color ease 0.2s;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--dark-color-background-secondary);
  }

  &__icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    max-width: 32px;
    min-height: 16px;
    max-height: 32px;
    margin: 0 $spacing-lg;
    background-color: $color-neutral-900;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all ease 0.2s;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      width: 1px;
      height: 14px;
      margin-left: -1px;
      content: "";
      background-color: $color-divider;
    }

    &::before {
      bottom: 100%;
      margin-bottom: $spacing-sm;
    }

    &::after {
      top: 100%;
      margin-top: $spacing-sm;
    }

    .icon {
      margin: 4px !important;

      .console-list-item__icon-container::before,
      .console-list-item__icon-container::after {
        height: 24px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__subtitle {
    color: var(--dark-color-text-secondary);
  }

  &--is-active {
    cursor: pointer;
    background-color: var(--dark-color-background-secondary);

    .console-list-item__icon-container {
      border-color: var(--dark-color-text-primary);
    }
  }

  &--is-connector-disabled {
    cursor: default;

    .console-list-item__icon-container {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &--is-answered {
    cursor: default;
    background-color: var(--dark-color-background-primary);

    .console-list-item__icon-container {
      color: $color-neutral-900;
      background-color: $color-white;
      outline: none;
    }
  }
}

.theme-dark {
  .console-list-item {
    background-color: var(--dark-color-background-secondary);

    &:hover {
      background-color: var(--dark-color-background-primary);
    }

    &__icon-container {
      background-color: $color-neutral-100;
    }

    &--is-answered {
      .console-list-item__icon-container {
        color: $color-neutral-100;
        background-color: $color-white;
        outline: none;
      }
    }
  }
}
