.dropdown-menu {
  &.card {
    padding: 8px 0;
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
    }
  }
}
