.dropdown-menu {
  &.card {
    padding: 0;
    > .dropdown-menu__list {
      &:before,
      &:after {
        content: "";
        display: block;
        height: $spacing-md;
      }
    }
  }
  &__list {
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    &-item {
      list-style: none;
    }
  }
}
