.dropdown-menu {
  &.card {
    padding: $spacing-md 0;
  }
  &__list {
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    &-item {
      list-style: none;
    }
  }
}
