.password-strong-field {
  &-validations {
    margin-top:$spacing-lg;
    & > p:not(:first-child) {
      margin-top: $spacing-sm;
    }
    & > p {
      display:flex;
      align-items: center;

      .icon {
        margin-right: $spacing-sm;
      }

    }
  }
}
