:root {
  --divider: #919eab3d;
  --button: #919eab52;
  --black: #000000;
  --white: #ffffff;
  --primary-lighter: #fee6d8;
  --primary-light: #f9a08e;
  --primary-main: #ed4343;
  --primary-dark: #ab213a;
  --primary-darker: #700c2e;
  --info-lighter: #d0f2ff;
  --info-light: #74caff;
  --info-main: #1890ff;
  --info-dark: #0c53b7;
  --info-darker: #04297a;
  --success-lighter: #e9fcd4;
  --success-light: #aaf27f;
  --success-main: #54d62c;
  --success-dark: #229a16;
  --success-darker: #08660d;
  --warning-lighter: #fff7cd;
  --warning-light: #ffe16a;
  --warning-main: #ffc107;
  --warning-dark: #b78103;
  --warning-darker: #7a4f01;
  --error-lighter: #fee0d8;
  --error-light: #fd8d8c;
  --error-main: #f94062;
  --error-dark: #b32057;
  --error-darker: #780c48;
  --grey-100: #f9fafb;
  --grey-200: #f4f6f8;
  --grey-300: #dfe3e8;
  --grey-400: #c4cdd5;
  --grey-500: #919eab;
  --grey-600: #637381;
  --grey-700: #454f5b;
  --grey-800: #212b36;
  --grey-900: #161c24;
  --transparent-primary-8: #ed434314;
  --transparent-primary-12: #ed43431f;
  --transparent-primary-16: #ed434329;
  --transparent-primary-24: #ed43433d;
  --transparent-primary-32: #ed434352;
  --transparent-primary-48: #ed43437a;
  --transparent-info-8: #1890ff14;
  --transparent-info-12: #1890ff1f;
  --transparent-info-16: #1890ff29;
  --transparent-info-24: #1890ff3d;
  --transparent-info-32: #1890ff52;
  --transparent-info-48: #1890ff7a;
  --transparent-success-8: #54d62c14;
  --transparent-success-12: #54d62c1f;
  --transparent-success-16: #54d62c29;
  --transparent-success-24: #54d62c3d;
  --transparent-success-32: #54d62c52;
  --transparent-success-48: #54d62c7a;
  --transparent-warning-8: #ffc10714;
  --transparent-warning-12: #ffc1071f;
  --transparent-warning-16: #ffc10729;
  --transparent-warning-24: #ffc1073d;
  --transparent-warning-32: #ffc10752;
  --transparent-warning-48: #ffc1077a;
  --transparent-error-8: #f9406214;
  --transparent-error-12: #f940621f;
  --transparent-error-16: #f9406229;
  --transparent-error-24: #f940623d;
  --transparent-error-32: #f9406252;
  --transparent-error-48: #f940627a;
  --transparent-grey-8: #919eab14;
  --transparent-grey-12: #919eab1f;
  --transparent-grey-16: #919eab29;
  --transparent-grey-24: #919eab3d;
  --transparent-grey-32: #919eab52;
  --transparent-grey-48: #919eab7a;
  --transparent-white-48: #ffffff7a;
  --transparent-black-48: #0000007a;
  --transparent-subjects-matematica-16: #da700529;
  --transparent-subjects-matematica-80: #da7005cc;
  --transparent-subjects-natureza-16: #7c9a2d29;
  --transparent-subjects-natureza-80: #7c9a2dcc;
  --transparent-subjects-humanas-16: #50a0d229;
  --transparent-subjects-humanas-80: #50a0d2cc;
  --transparent-subjects-linguagens-16: #825a9629;
  --transparent-subjects-linguagens-80: #825a96cc;
  --transparent-subjects-redacao-16: #d29b0029;
  --transparent-subjects-redacao-80: #d29b00cc;
  --transparent-subjects-medicina-16: #55a8a929;
  --transparent-subjects-medicina-80: #55a8a9cc;
  --gradient-primary: linear-gradient(45deg, #eda4a4 0%, #ed4343 100%);
  --gradient-info: linear-gradient(45deg, #74caff 0%, #0c53b7 100%);
  --gradient-success: linear-gradient(45deg, #aaf27f 0%, #54d62c 100%);
  --gradient-warning: linear-gradient(45deg, #ffe16a 0%, #de980f 100%);
  --gradient-error: linear-gradient(45deg, #ff8db6 0%, #f94062 100%);
  --text-primary: #212b36;
  --text-secondary: #637381;
  --text-disabled: #919eab;
  --background-primary: #ffffff;
  --background-neutral: #f4f6f8;
  --background-overlay-dark: #161c24b8;
  --action-active: #637381;
  --action-hover: #919eab14;
  --action-selected: #919eab29;
  --action-disabled: #919eabcc;
  --action-disabled-background: #919eab3d;
  --action-focus: #919eab3d;
  --subjects-matematica-main: #da7005;
  --subjects-matematica-dark: #bb5603;
  --subjects-natureza-main: #7c9a2d;
  --subjects-natureza-dark: #4c7425;
  --subjects-humanas-main: #50a0d2;
  --subjects-humanas-dark: #1485a3;
  --subjects-linguagens-main: #825a96;
  --subjects-linguagens-dark: #703c87;
  --subjects-redacao-main: #d29b00;
  --subjects-redacao-dark: #ca8b0f;
  --subjects-medicina-main: #55a8a9;
  --subjects-medicina-dark: #2e6b6b;
  --font-families-main: Roboto;
  --font-families-acent: Montserrat;
  --font-size-label: 0.75rem;
  --font-size-xxs: 0.875rem;
  --font-size-cta: 0.9375rem;
  --font-size-main: 1rem;
  --font-size-xs: 1.125rem;
  --font-size-sm: 1.25rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;
  --border-radius-xs: 0.375rem;
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1rem;
  --spacing-scale: 0.25rem;
  --spacing-xs: 0.25rem;
  --elevation-100: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  --elevation-200: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
  --elevation-300: 0px 0px 2px 0px rgba(0, 0, 0, 0.24), 0px 16px 32px -4px rgba(0, 0, 0, 0.24);
  --elevation-400: 0px 0px 2px 0px rgba(0, 0, 0, 0.24), 0px 20px 40px -4px rgba(0, 0, 0, 0.24);
  --elevation-500: 0px 0px 2px 0px rgba(0, 0, 0, 0.24), 0px 24px 40px 0px rgba(0, 0, 0, 0.24);
  --elevation-600: 0px 0px 4px 0px rgba(0, 0, 0, 0.24), 0px 24px 48px 0px rgba(0, 0, 0, 0.24);
}
