:root {
  --color-divider: #919eab3d;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary-100: #fee6d8;
  --color-primary-300: #f9a08e;
  --color-primary-500: #ed4343;
  --color-primary-700: #ab213a;
  --color-primary-900: #700c2e;
  --color-primary-ghost: #ed434329;
  --color-info-100: #d0f2ff;
  --color-info-300: #74caff;
  --color-info-500: #1890ff;
  --color-info-700: #0c53b7;
  --color-info-900: #04297a;
  --color-info-ghost: #1890ff29;
  --color-success-100: #e9fcd4;
  --color-success-300: #aaf27f;
  --color-success-500: #54d62c;
  --color-success-700: #229a16;
  --color-success-900: #08660d;
  --color-success-ghost: #54d62c29;
  --color-warning-100: #fff7cd;
  --color-warning-300: #ffe16a;
  --color-warning-500: #ffc107;
  --color-warning-700: #b78103;
  --color-warning-900: #7a4f01;
  --color-warning-ghost: #ffc10729;
  --color-error-100: #fee0d8;
  --color-error-300: #fd8d8c;
  --color-error-500: #f94062;
  --color-error-700: #b32057;
  --color-error-900: #780c48;
  --color-error-ghost: #f9406229;
  --color-neutral-100: #f4f6f8;
  --color-neutral-300: #dfe3e8;
  --color-neutral-500: #c4cdd5;
  --color-neutral-700: #919eab;
  --color-neutral-900: #637381;
  --color-neutral-ghost: #919eab29;
  --color-matematica-300: #da7005cc;
  --color-matematica-500: #da7005;
  --color-matematica-700: #bb5603;
  --color-matematica-ghost: #da700529;
  --color-natureza-300: #7c9a2dcc;
  --color-natureza-500: #7c9a2d;
  --color-natureza-700: #4c7425;
  --color-natureza-ghost: #7c9a2d29;
  --color-humanas-300: #50a0d2cc;
  --color-humanas-500: #50a0d2;
  --color-humanas-700: #1485a3;
  --color-humanas-ghost: #50a0d229;
  --color-linguagens-300: #825a96cc;
  --color-linguagens-500: #825a96;
  --color-linguagens-700: #703c87;
  --color-linguagens-ghost: #825a9629;
  --color-redacao-300: #d29b00cc;
  --color-redacao-500: #d29b00;
  --color-redacao-700: #ca8b0f;
  --color-redacao-ghost: #d29b0029;
  --color-medicina-300: #55a8a9cc;
  --color-medicina-500: #55a8a9;
  --color-medicina-700: #2e6b6b;
  --color-medicina-ghost: #55a8a929;
  --color-text-primary: #212b36;
  --color-text-secondary: #637381;
  --color-text-disabled: #919eab;
  --color-background-primary: #ffffff;
  --color-background-neutral: #f4f6f8;
  --color-background-overlay: #161c24b8;
  --color-action-active: #637381;
  --color-action-hover: #919eab14;
  --color-action-selected: #919eab29;
  --color-action-disabled: #919eabcc;
  --color-action-disabled-background: #919eab3d;
  --color-action-focus: #919eab3d;
  --font-family-main: Roboto;
  --font-family-acent: Montserrat;
  --font-size-label: 0.75rem;
  --font-size-xxs: 0.875rem;
  --font-size-cta: 0.9375rem;
  --font-size-main: 1rem;
  --font-size-xs: 1.125rem;
  --font-size-sm: 1.25rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;
  --border-radius-xs: 6px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --shadow-elevation-100: 0px 1px 2px 0px rgba(0,0,0,0.24);
  --shadow-elevation-200: 0px 8px 16px 0px rgba(0,0,0,0.24);
  --shadow-elevation-300: 0px 0px 2px 0px rgba(0,0,0,0.24), 0px 16px 32px -4px rgba(0,0,0,0.24);
  --shadow-elevation-400: 0px 0px 2px 0px rgba(0,0,0,0.24), 0px 20px 40px -4px rgba(0,0,0,0.24);
  --shadow-elevation-500: 0px 0px 2px 0px rgba(0,0,0,0.24), 0px 24px 40px 0px rgba(0,0,0,0.24);
  --shadow-elevation-600: 0px 0px 4px 0px rgba(0,0,0,0.24), 0px 24px 48px 0px rgba(0,0,0,0.24);
}
