:root {
  --dark-color-action-active: #919eab;
  --dark-color-action-hover: #919eab14;
  --dark-color-action-selected: #919eab29;
  --dark-color-action-disabled: #919eabcc;
  --dark-color-action-disabled-background: #919eab3d;
  --dark-color-action-focus: #919eab3d;
  --dark-color-text-primary: #ffffff;
  --dark-color-text-secondary: #919eab;
  --dark-color-text-disabled: #637381;
  --dark-color-background-primary: #212b36;
  --dark-color-background-secondary: #161c24;
  --dark-color-background-neutral: #919eab29;
}
