:root {
  --dark-color-action-active: #919eab;
  --dark-color-action-hover: #919eab14;
  --dark-color-action-selected: #919eab29;
  --dark-color-action-disabled: #919eabcc;
  --dark-color-action-disabled-background: #919eab3d;
  --dark-color-action-focus: #919eab3d;
  --dark-color-text-primary: #ffffff;
  --dark-color-text-secondary: #919eab;
  --dark-color-text-disabled: #637381;
  --dark-color-background-primary: #212b36;
  --dark-color-background-secondary: #161c24;
  --dark-color-background-neutral: #919eab29;
  --dark-color-info-100: #04297a;
  --dark-color-info-300: #0c53b7;
  --dark-color-info-700: #74caff;
  --dark-color-info-900: #d0f2ff;
  --dark-color-success-100: #08660d;
  --dark-color-success-300: #229a16;
  --dark-color-success-700: #aaf27f;
  --dark-color-success-900: #e9fcd4;
  --dark-color-warning-100: #7a4f01;
  --dark-color-warning-300: #b78103;
  --dark-color-warning-700: #ffe16a;
  --dark-color-warning-900: #fff7cd;
  --dark-color-error-100: #780c48;
  --dark-color-error-300: #b32057;
  --dark-color-error-700: #fd8d8c;
  --dark-color-error-900: #fee0d8;
  --dark-color-neutral-100: #637381;
  --dark-color-neutral-300: #919eab;
  --dark-color-neutral-700: #dfe3e8;
  --dark-color-neutral-900: #f4f6f8;
  --dark-shadow-elevation-100: 0px 1px 2px 0px rgba(0,0,0,0.5);
  --dark-shadow-elevation-200: 0px 8px 16px 0px rgba(0,0,0,0.5);
  --dark-shadow-elevation-300: 0px 0px 2px 0px rgba(0,0,0,0.5), 0px 12px 24px 0px rgba(0,0,0,0.24);
  --dark-shadow-elevation-400: 0px 0px 2px 0px rgba(0,0,0,0.5), 0px 16px 32px -4px rgba(0,0,0,0.5);
  --dark-shadow-elevation-500: 0px 0px 2px 0px rgba(0,0,0,0.5), 0px 20px 40px -4px rgba(0,0,0,0.24);
  --dark-shadow-elevation-600: 0px 0px 4px 0px rgba(0,0,0,0.5), 0px 24px 48px 0px rgba(0,0,0,0.5);
}

.theme-dark {
  --color-action-active: var(--dark-color-action-active);
  --color-action-hover: var(--dark-color-action-hover);
  --color-action-selected: var(--dark-color-action-selected);
  --color-action-disabled: var(--dark-color-action-disabled);
  --color-action-disabled-background: var(--dark-color-action-disabled-background);
  --color-action-focus: var(--dark-color-action-focus);
  --color-text-primary: var(--dark-color-text-primary);
  --color-text-secondary: var(--dark-color-text-secondary);
  --color-text-disabled: var(--dark-color-text-disabled);
  --color-background-primary: var(--dark-color-background-primary);
  --color-background-secondary: var(--dark-color-background-secondary);
  --color-background-neutral: var(--dark-color-background-neutral);
  --color-info-100: var(--dark-color-info-100);
  --color-info-300: var(--dark-color-info-300);
  --color-info-700: var(--dark-color-info-700);
  --color-info-900: var(--dark-color-info-900);
  --color-success-100: var(--dark-color-success-100);
  --color-success-300: var(--dark-color-success-300);
  --color-success-700: var(--dark-color-success-700);
  --color-success-900: var(--dark-color-success-900);
  --color-warning-100: var(--dark-color-warning-100);
  --color-warning-300: var(--dark-color-warning-300);
  --color-warning-700: var(--dark-color-warning-700);
  --color-warning-900: var(--dark-color-warning-900);
  --color-error-100: var(--dark-color-error-100);
  --color-error-300: var(--dark-color-error-300);
  --color-error-700: var(--dark-color-error-700);
  --color-error-900: var(--dark-color-error-900);
  --color-neutral-100: var(--dark-color-neutral-100);
  --color-neutral-300: var(--dark-color-neutral-300);
  --color-neutral-700: var(--dark-color-neutral-700);
  --color-neutral-900: var(--dark-color-neutral-900);
  --shadow-elevation-100: var(--dark-shadow-elevation-100);
  --shadow-elevation-200: var(--dark-shadow-elevation-200);
  --shadow-elevation-300: var(--dark-shadow-elevation-300);
  --shadow-elevation-400: var(--dark-shadow-elevation-400);
  --shadow-elevation-500: var(--dark-shadow-elevation-500);
  --shadow-elevation-600: var(--dark-shadow-elevation-600);
}
