:root {
--dark-action-active: #919eab;  
--dark-action-hover: #919eab14;  
--dark-action-selected: #919eab29;  
--dark-action-disabled: #919eabcc;  
--dark-action-disabled-background: #919eab3d;  
--dark-action-focus: #919eab3d;  
--dark-text-primary: #ffffff;  
--dark-text-secondary: #919eab;  
--dark-text-disabled: #637381;  
--dark-background-primary: #212b36;  
--dark-background-secondary: #161c24;  
--dark-background-neutral: #919eab29;
}
