$divider: var(--divider);
$button: var(--button);
$black: var(--black);
$white: var(--white);
$primary-lighter: var(--primary-lighter);
$primary-light: var(--primary-light);
$primary-main: var(--primary-main);
$primary-dark: var(--primary-dark);
$primary-darker: var(--primary-darker);
$info-lighter: var(--info-lighter);
$info-light: var(--info-light);
$info-main: var(--info-main);
$info-dark: var(--info-dark);
$info-darker: var(--info-darker);
$success-lighter: var(--success-lighter);
$success-light: var(--success-light);
$success-main: var(--success-main);
$success-dark: var(--success-dark);
$success-darker: var(--success-darker);
$warning-lighter: var(--warning-lighter);
$warning-light: var(--warning-light);
$warning-main: var(--warning-main);
$warning-dark: var(--warning-dark);
$warning-darker: var(--warning-darker);
$error-lighter: var(--error-lighter);
$error-light: var(--error-light);
$error-main: var(--error-main);
$error-dark: var(--error-dark);
$error-darker: var(--error-darker);
$grey-100: var(--grey-100);
$grey-200: var(--grey-200);
$grey-300: var(--grey-300);
$grey-400: var(--grey-400);
$grey-500: var(--grey-500);
$grey-600: var(--grey-600);
$grey-700: var(--grey-700);
$grey-800: var(--grey-800);
$grey-900: var(--grey-900);
$transparent-primary-8: var(--transparent-primary-8);
$transparent-primary-12: var(--transparent-primary-12);
$transparent-primary-16: var(--transparent-primary-16);
$transparent-primary-24: var(--transparent-primary-24);
$transparent-primary-32: var(--transparent-primary-32);
$transparent-primary-48: var(--transparent-primary-48);
$transparent-info-8: var(--transparent-info-8);
$transparent-info-12: var(--transparent-info-12);
$transparent-info-16: var(--transparent-info-16);
$transparent-info-24: var(--transparent-info-24);
$transparent-info-32: var(--transparent-info-32);
$transparent-info-48: var(--transparent-info-48);
$transparent-success-8: var(--transparent-success-8);
$transparent-success-12: var(--transparent-success-12);
$transparent-success-16: var(--transparent-success-16);
$transparent-success-24: var(--transparent-success-24);
$transparent-success-32: var(--transparent-success-32);
$transparent-success-48: var(--transparent-success-48);
$transparent-warning-8: var(--transparent-warning-8);
$transparent-warning-12: var(--transparent-warning-12);
$transparent-warning-16: var(--transparent-warning-16);
$transparent-warning-24: var(--transparent-warning-24);
$transparent-warning-32: var(--transparent-warning-32);
$transparent-warning-48: var(--transparent-warning-48);
$transparent-error-8: var(--transparent-error-8);
$transparent-error-12: var(--transparent-error-12);
$transparent-error-16: var(--transparent-error-16);
$transparent-error-24: var(--transparent-error-24);
$transparent-error-32: var(--transparent-error-32);
$transparent-error-48: var(--transparent-error-48);
$transparent-grey-8: var(--transparent-grey-8);
$transparent-grey-12: var(--transparent-grey-12);
$transparent-grey-16: var(--transparent-grey-16);
$transparent-grey-24: var(--transparent-grey-24);
$transparent-grey-32: var(--transparent-grey-32);
$transparent-grey-48: var(--transparent-grey-48);
$transparent-white-48: var(--transparent-white-48);
$transparent-black-48: var(--transparent-black-48);
$transparent-subjects-matematica-16: var(--transparent-subjects-matematica-16);
$transparent-subjects-matematica-80: var(--transparent-subjects-matematica-80);
$transparent-subjects-natureza-16: var(--transparent-subjects-natureza-16);
$transparent-subjects-natureza-80: var(--transparent-subjects-natureza-80);
$transparent-subjects-humanas-16: var(--transparent-subjects-humanas-16);
$transparent-subjects-humanas-80: var(--transparent-subjects-humanas-80);
$transparent-subjects-linguagens-16: var(--transparent-subjects-linguagens-16);
$transparent-subjects-linguagens-80: var(--transparent-subjects-linguagens-80);
$transparent-subjects-redacao-16: var(--transparent-subjects-redacao-16);
$transparent-subjects-redacao-80: var(--transparent-subjects-redacao-80);
$transparent-subjects-medicina-16: var(--transparent-subjects-medicina-16);
$transparent-subjects-medicina-80: var(--transparent-subjects-medicina-80);
$gradient-primary: var(--gradient-primary);
$gradient-info: var(--gradient-info);
$gradient-success: var(--gradient-success);
$gradient-warning: var(--gradient-warning);
$gradient-error: var(--gradient-error);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-disabled: var(--text-disabled);
$background-primary: var(--background-primary);
$background-neutral: var(--background-neutral);
$background-overlay-dark: var(--background-overlay-dark);
$action-active: var(--action-active);
$action-hover: var(--action-hover);
$action-selected: var(--action-selected);
$action-disabled: var(--action-disabled);
$action-disabled-background: var(--action-disabled-background);
$action-focus: var(--action-focus);
$subjects-matematica-main: var(--subjects-matematica-main);
$subjects-matematica-dark: var(--subjects-matematica-dark);
$subjects-natureza-main: var(--subjects-natureza-main);
$subjects-natureza-dark: var(--subjects-natureza-dark);
$subjects-humanas-main: var(--subjects-humanas-main);
$subjects-humanas-dark: var(--subjects-humanas-dark);
$subjects-linguagens-main: var(--subjects-linguagens-main);
$subjects-linguagens-dark: var(--subjects-linguagens-dark);
$subjects-redacao-main: var(--subjects-redacao-main);
$subjects-redacao-dark: var(--subjects-redacao-dark);
$subjects-medicina-main: var(--subjects-medicina-main);
$subjects-medicina-dark: var(--subjects-medicina-dark);
$font-families-main: var(--font-families-main);
$font-families-acent: var(--font-families-acent);
$font-size-label: var(--font-size-label);
$font-size-xxs: var(--font-size-xxs);
$font-size-cta: var(--font-size-cta);
$font-size-main: var(--font-size-main);
$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$font-size-xxl: var(--font-size-xxl);
$border-radius-xs: var(--border-radius-xs);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-lg: var(--border-radius-lg);
$spacing-scale: var(--spacing-scale);
$spacing-xs: var(--spacing-xs);
$elevation-100: var(--elevation-100);
$elevation-200: var(--elevation-200);
$elevation-300: var(--elevation-300);
$elevation-400: var(--elevation-400);
$elevation-500: var(--elevation-500);
$elevation-600: var(--elevation-600);
