$color-divider: var(--color-divider);
$color-primary-lighter: var(--color-primary-lighter);
$color-primary-light: var(--color-primary-light);
$color-primary-main: var(--color-primary-main);
$color-primary-dark: var(--color-primary-dark);
$color-primary-darker: var(--color-primary-darker);
$color-primary-ghost: var(--color-primary-ghost);
$color-info-lighter: var(--color-info-lighter);
$color-info-light: var(--color-info-light);
$color-info-main: var(--color-info-main);
$color-info-dark: var(--color-info-dark);
$color-info-darker: var(--color-info-darker);
$color-info-ghost: var(--color-info-ghost);
$color-success-lighter: var(--color-success-lighter);
$color-success-light: var(--color-success-light);
$color-success-main: var(--color-success-main);
$color-success-dark: var(--color-success-dark);
$color-success-darker: var(--color-success-darker);
$color-success-ghost: var(--color-success-ghost);
$color-warning-lighter: var(--color-warning-lighter);
$color-warning-light: var(--color-warning-light);
$color-warning-main: var(--color-warning-main);
$color-warning-dark: var(--color-warning-dark);
$color-warning-darker: var(--color-warning-darker);
$color-warning-ghost: var(--color-warning-ghost);
$color-error-lighter: var(--color-error-lighter);
$color-error-light: var(--color-error-light);
$color-error-main: var(--color-error-main);
$color-error-dark: var(--color-error-dark);
$color-error-darker: var(--color-error-darker);
$color-error-ghost: var(--color-error-ghost);
$color-neutral-lighter: var(--color-neutral-lighter);
$color-neutral-light: var(--color-neutral-light);
$color-neutral-main: var(--color-neutral-main);
$color-neutral-dark: var(--color-neutral-dark);
$color-neutral-darker: var(--color-neutral-darker);
$color-neutral-ghost: var(--color-neutral-ghost);
$color-matematica-ghost: var(--color-matematica-ghost);
$color-matematica-main: var(--color-matematica-main);
$color-matematica-dark: var(--color-matematica-dark);
$color-natureza-ghost: var(--color-natureza-ghost);
$color-natureza-main: var(--color-natureza-main);
$color-natureza-dark: var(--color-natureza-dark);
$color-humanas-ghost: var(--color-humanas-ghost);
$color-humanas-main: var(--color-humanas-main);
$color-humanas-dark: var(--color-humanas-dark);
$color-linguagens-ghost: var(--color-linguagens-ghost);
$color-linguagens-main: var(--color-linguagens-main);
$color-linguagens-dark: var(--color-linguagens-dark);
$color-redacao-ghost: var(--color-redacao-ghost);
$color-redacao-main: var(--color-redacao-main);
$color-redacao-dark: var(--color-redacao-dark);
$color-medicina-ghost: var(--color-medicina-ghost);
$color-medicina-main: var(--color-medicina-main);
$color-medicina-dark: var(--color-medicina-dark);
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-terciary: var(--color-text-terciary);
$color-text-disabled: var(--color-text-disabled);
$color-background-primary: var(--color-background-primary);
$color-background-neutral: var(--color-background-neutral);
$color-background-overlay-dark: var(--color-background-overlay-dark);
$color-action-active: var(--color-action-active);
$color-action-hover: var(--color-action-hover);
$color-action-selected: var(--color-action-selected);
$color-action-disabled: var(--color-action-disabled);
$color-action-disabled-background: var(--color-action-disabled-background);
$color-action-focus: var(--color-action-focus);
$font-family-main: var(--font-family-main);
$font-family-acent: var(--font-family-acent);
$font-size-label: var(--font-size-label);
$font-size-xxs: var(--font-size-xxs);
$font-size-cta: var(--font-size-cta);
$font-size-main: var(--font-size-main);
$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$font-size-xxl: var(--font-size-xxl);
$border-radius-xs: var(--border-radius-xs);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-lg: var(--border-radius-lg);
$spacing-xs: var(--spacing-xs);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$shadow-elevation-100: var(--shadow-elevation-100);
$shadow-elevation-200: var(--shadow-elevation-200);
$shadow-elevation-300: var(--shadow-elevation-300);
$shadow-elevation-400: var(--shadow-elevation-400);
$shadow-elevation-500: var(--shadow-elevation-500);
$shadow-elevation-600: var(--shadow-elevation-600);

@import "./base.scss";
@import "./light.scss";
@import "./dark.scss";
