$color-divider: var(--color-divider);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-primary-100: var(--color-primary-100);
$color-primary-300: var(--color-primary-300);
$color-primary-500: var(--color-primary-500);
$color-primary-700: var(--color-primary-700);
$color-primary-900: var(--color-primary-900);
$color-primary-ghost: var(--color-primary-ghost);
$color-secondary-100: var(--color-secondary-100);
$color-secondary-300: var(--color-secondary-300);
$color-secondary-500: var(--color-secondary-500);
$color-secondary-700: var(--color-secondary-700);
$color-secondary-900: var(--color-secondary-900);
$color-secondary-ghost: var(--color-secondary-ghost);
$color-info-100: var(--color-info-100);
$color-info-300: var(--color-info-300);
$color-info-500: var(--color-info-500);
$color-info-700: var(--color-info-700);
$color-info-900: var(--color-info-900);
$color-info-ghost: var(--color-info-ghost);
$color-success-100: var(--color-success-100);
$color-success-300: var(--color-success-300);
$color-success-500: var(--color-success-500);
$color-success-700: var(--color-success-700);
$color-success-900: var(--color-success-900);
$color-success-ghost: var(--color-success-ghost);
$color-warning-100: var(--color-warning-100);
$color-warning-300: var(--color-warning-300);
$color-warning-500: var(--color-warning-500);
$color-warning-700: var(--color-warning-700);
$color-warning-900: var(--color-warning-900);
$color-warning-ghost: var(--color-warning-ghost);
$color-error-100: var(--color-error-100);
$color-error-300: var(--color-error-300);
$color-error-500: var(--color-error-500);
$color-error-700: var(--color-error-700);
$color-error-900: var(--color-error-900);
$color-error-ghost: var(--color-error-ghost);
$color-neutral-100: var(--color-neutral-100);
$color-neutral-300: var(--color-neutral-300);
$color-neutral-500: var(--color-neutral-500);
$color-neutral-700: var(--color-neutral-700);
$color-neutral-900: var(--color-neutral-900);
$color-neutral-ghost: var(--color-neutral-ghost);
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-disabled: var(--color-text-disabled);
$color-background-primary: var(--color-background-primary);
$color-background-secondary: var(--color-background-secondary);
$color-background-neutral: var(--color-background-neutral);
$color-background-overlay: var(--color-background-overlay);
$color-action-active: var(--color-action-active);
$color-action-hover: var(--color-action-hover);
$color-action-selected: var(--color-action-selected);
$color-action-disabled: var(--color-action-disabled);
$color-action-disabled-background: var(--color-action-disabled-background);
$color-action-focus: var(--color-action-focus);
$font-family-main: var(--font-family-main);
$font-family-accent: var(--font-family-accent);
$font-weights-main-bold: var(--font-weights-main-bold);
$font-weights-main-medium: var(--font-weights-main-medium);
$font-weights-main-regular: var(--font-weights-main-regular);
$font-weights-accent-bold: var(--font-weights-accent-bold);
$font-weights-accent-medium: var(--font-weights-accent-medium);
$font-weights-accent-regular: var(--font-weights-accent-regular);
$font-size-label: var(--font-size-label);
$font-size-xxs: var(--font-size-xxs);
$font-size-cta: var(--font-size-cta);
$font-size-main: var(--font-size-main);
$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$border-radius-xs: var(--border-radius-xs);
$border-radius-sm: var(--border-radius-sm);
$border-radius-md: var(--border-radius-md);
$border-radius-lg: var(--border-radius-lg);
$spacing-xs: var(--spacing-xs);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$spacing-xl: var(--spacing-xl);
$gap-sm-1: var(--gap-sm-1);
$gap-sm-2: var(--gap-sm-2);
$gap-sm-3: var(--gap-sm-3);
$gap-sm-4: var(--gap-sm-4);
$gap-md-1: var(--gap-md-1);
$gap-md-2: var(--gap-md-2);
$gap-md-3: var(--gap-md-3);
$gap-md-4: var(--gap-md-4);
$gap-lg-1: var(--gap-lg-1);
$gap-lg-2: var(--gap-lg-2);
$gap-lg-3: var(--gap-lg-3);
$gap-lg-4: var(--gap-lg-4);
$shadow-elevation-100: var(--shadow-elevation-100);
$shadow-elevation-200: var(--shadow-elevation-200);
$shadow-elevation-300: var(--shadow-elevation-300);
$shadow-elevation-400: var(--shadow-elevation-400);
$shadow-elevation-500: var(--shadow-elevation-500);
$shadow-elevation-600: var(--shadow-elevation-600);