.loader {
  &__container {
    width: 40px;
    height: 40px;
    display: inline-block;
    color: currentColor;
    animation: animation-loader-container 1.4s linear infinite;
  }
  &__circle {
    stroke: currentColor;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
    animation: animation-loader-circle 1.4s ease-in-out infinite;
  }
  &--sm {
    .loader__container {
      width: 24px;
      height: 24px;
    }
  }
  &--md {
    .loader__container {
      width: 32px;
      height: 32px;
    }
  }
}

@keyframes animation-loader-container {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animation-loader-circle {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
