a,
.link {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:not(.link--secondary) {
    color: $color-primary-500;
    &:visited {
      text-decoration: none;
      color: $color-primary-500;
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  .icon {
    margin-right: $spacing-sm;
  }
  &--secondary,
  &--secondary:visited {
    color: $color-text-secondary;
  }
}
