a,
.link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  color: $color-primary-500;
  &:visited {
    text-decoration: underline;
    color: $color-primary-500;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  &--secondary,
  &--secondary:visited {
    color: $color-text-secondary;
  }
}
