.circle-stepper {
  $size: 52px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &__info {
    &-title {
      color: $color-text-primary;
    }
    &-caption {
      display: inline-flex;
      color: $color-text-disabled;

      &__next-position {
        color: $color-text-secondary;
        font-weight: bold;
      }
    }
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;

    &__svg {
      position: absolute;

      &-inner-circle,
      &-outer-circle {
        stroke-width: 5;
        stroke-linecap: round;
        fill: none;
        stroke: $color-action-disabled-background;

        transition: stroke-dashoffset ease 1s;
      }

      &-outer-circle {
        stroke: $color-primary-500;
        transform-origin: center;
        transform: rotateZ(270deg);
      }
    }

    &-number {
      color: $color-primary-500;
      font-family: $font-family-accent;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5em;
    }
  }
}
