.circleStepper {
  $size: 52px;

  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  width: $size;
  height: $size;
  &__svg {
    position: absolute;
    &__innerCircle,
    &__outerCircle {
      stroke-width: 5;
      stroke-linecap: round;
      fill: none;
      stroke: $color-action-disabled-background;
      transition: stroke-dashoffset ease 1s;
    }
    &__outerCircle {
      stroke: $color-primary-main;
      transform-origin: center;
      transform: rotateZ(270deg);
    }
  }
  &__number {
    color: $color-primary-main;
    font-family: $font-family-acent;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5em;
  }
}
