.accordion-status {
  &.card {
    padding: 0;
  }
  .accordion {
    &__header {
      display: flex;
    }
    &__content-container {
      padding: $spacing-xl;
      padding-top: 0;
    }
  }

  &__header {
    .icon {
      margin-right: 14px;
    }
    display: flex;
    flex: 1;
    .accordion__header-container {
      flex: 1;
    }
  }
}
